@use '../../styles/partials/mixins';

.projects {
    &__cards {
        @include mixins.tablet {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__card {
        margin: 1rem;
        width: 100%;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0, 0.2) ;
        border-radius: 0.25rem;
        @include mixins.tablet {
            width: 33%;
        }
    }
    &__card:hover {
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0,0,0, 0.2) ;
    }
    &__card-box {
        padding: 1rem ;
    }
    &__image {
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0 ;
       
    }
    &__title {
        @include mixins.desktop {
            font-size: 1.5rem;
        }
    }
    &__description {
       @include mixins.desktop {
        font-size: 1.2rem;
       }
    }
}