@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.hero {
    &__about {
       @include mixins.tablet {
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }
    &__user {
        @include mixins.tablet {
            width: 40%;
        }
    }
    &__user-name{
        margin: 3rem 0 0 1rem;
        display: flex;
    }
 
    &__user-title {
        color: colors.$background-blush;
        font-weight: 700;
        margin-left: 1rem;

    }
    &__job-title {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0.5rem 0 0 1rem;
        font-weight: 700;
        font-weight: 1.2rem;
        color: colors.$primary-black;
    }
    &__user-description {
        @include mixins.tablet {
           width: 40%;
            flex-direction: column;
            margin-right: 4rem;
        }
    }
 
    &__link-box {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem;
        @include mixins.tablet {
            justify-content: flex-start;
            margin: 1rem;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
       
    }
    &__button {
        background-color: colors.$primary-brown;
        color: colors.$primary-white;
        border-color:transparent ;
        font-family: inherit;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
       padding:  0.5rem;
    }
    &__download-button {
        width: 1rem;
        height: 1rem;
        padding-left: 0.08rem;
    }
    &__scroll-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__scroll-arrow {
        width: 4rem;
        height: 4rem;
    }
}