@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.hero {
    background-image:linear-gradient( rgba(255, 243, 243, 1), rgba(255, 255, 255, 0.2));
    background-size: 400% 400%;
    position: relative;
    margin: 6rem 0 5rem 0;
    height: 22rem;
    width: 100%;
    // overflow: hidden;
    @include mixins.desktop {
        height: 40rem;
        margin: 5rem 0 0 0;
    }
    @include mixins.maxLargeDesktop {
        height: 50rem;
        margin: 7rem 0 0 0;

    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    &__about-user {
        @include mixins.tablet {
            display: flex;
        }
    }
    &__user {
        @include mixins.tablet {
            width: 50%;
            margin: 0 0 0 2rem ;
        }
        @include mixins.desktop {
            width: 50%;
            margin: 0 0 0 3rem ;

        }
    }
    &__user-name{
        margin: 6rem 0 0 1rem;
        display: flex;
        @include mixins.tablet {
            margin: 1rem;
        }
    }
 
    &__user-title {
        color: colors.$primary-black;
        font-weight: 700;
        margin-left: 1rem;
        @include mixins.tablet {
            font-size: 1.2rem;
        }
        @include mixins.maxLargeDesktop {
            font-size: 2rem;
        }

    }
    &__job-title {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0.5rem 0 0 1rem;
        font-weight: 700;
        font-weight: 1.2rem;
        color: colors.$primary-black;
        @include mixins.tablet {
            font-size: 1.8rem;
        }
        @include mixins.desktop {
            font-size: 4rem;
            line-height: 5rem;
        }
        @include mixins.maxLargeDesktop {
            font-size: 5rem;
            line-height: 6rem;
        }
    }
    &__image-box {
        display: flex;
        justify-content: center;
        margin: 1rem;
        @include mixins.tablet {
            width: 50%;
        }
    }
    &__image {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        @include mixins.tablet {
            width: 20rem;
            height: 20rem;
        }
        @include mixins.desktop {
            width: 40rem;
            height: 40rem;
        }
        @include mixins.maxLargeDesktop {
            width: 50rem;
            height: 50rem;
        }
    }
    &__buttons {
        display: none;
        @include mixins.tablet {
            margin: 1.5rem 1rem;
            justify-content: flex-start;
            display: flex;
        }
        @include mixins.maxLargeDesktop {
            margin: 2.5rem 1rem;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem 1rem;
        background-color: colors.$primary-brown;
        border: 0.02rem solid colors.$primary-brown;
        border-radius: 0.5rem ;
        color: colors.$primary-white;
       font-weight: 700;
       font-family: inherit;
       text-decoration: none;
        cursor: pointer;
        @include mixins.desktop {
            font-size: 1.2rem;
            padding: 0.9rem 1rem;
        }
        @include mixins.maxLargeDesktop {
            font-size: 1.5rem;
            padding: 0.8rem 1.2rem;
            border-radius: 1rem ;
        }
    }
    &__link-box {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        @include mixins.tablet {
            justify-content: flex-start;
            margin:1rem 1rem 1rem 3rem;
            justify-content: center;
            align-items: center;
        }
    }
    &__linkedin-link {
        @include mixins.tablet {
            margin: 0 1rem 0 0;
        }
    }
  
    &__scroll-box {
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixins.tablet {
            margin: 2rem 1rem 1rem 1rem;
        }
    }
    &__scroll-arrow {
        width: 3rem;
        height: 3rem;
        @include mixins.maxLargeDesktop {
            width: 4rem;
            height: 4rem;
        }
    }
}