@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
.footer {
    background-color: #B0B0B0;

    &__social-title {
        margin: 0 3rem;
        padding: 2rem 0 1rem 0;
        text-align: center;
        color: colors.$primary-white;
        font-size: 1.5rem ;
        @include mixins.tablet {
            font-size: 2rem;
        }
        @include mixins.largeDesktop {
            font-size: 2.5rem;
        }
    }
    &__link-box {
        display: flex;
        justify-content: center;
    }
    &__link-item {
        text-decoration: none;
        padding: 0 0.4rem;
    }
    &__linkedin-link,
    &__github-link {
        padding: 0 1rem;
        width: 5rem;
        @include mixins.tablet {
            width: 6rem;
        }
        @include mixins.largeDesktop {
            width: 7rem;
        }
    }
    &__author {
        color: colors.$primary-white;
        font-size: 0.8rem;
        margin: 2rem 1rem ;
        text-align: center;
        @include mixins.tablet {
            font-size: 1rem;
        }
        @include mixins.largeDesktop {
            font-size: 1.2rem;
        }
    }
    &__copyright {
        color: colors.$primary-white;
        font-size: 0.6rem;
        margin: 0rem 1rem ;
        display: flex;
        justify-content: center;
        @include mixins.tablet {
            font-size: 0.8rem;
            padding-bottom: 1.5rem;
        }
        @include mixins.largeDesktop {
            font-size: 1rem;
            
        }
        // @include mixins.largeDesktop {
        //     margin: 2rem 1rem 3rem 1rem;
        // }
    }
    
}